In [7]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ds = pd.DataFrame(exam_data, index=labels)
print(f"First three lines are: \n\n {ds.head(3)} \n")

First three lines are:

         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [8]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ds = pd.DataFrame(exam_data, index=labels)
print(f"our dataframe without nan values: \n\n {ds.dropna()} \n")

our dataframe without nan values:

         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ds = pd.DataFrame(exam_data, index=labels)
print(ds[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [10]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ds = pd.DataFrame(exam_data, index=labels)
new_student= {'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
print(f"our dataframe with new student: \n\n {ds.append(new_student,ignore_index=True)} \n")

our dataframe with new student::

          name  score  attempts qualify
0   Anastasia   12.5         1     yes
1        Dima    9.0         3      no
2   Katherine   16.5         2     yes
3       James    NaN         3      no
4       Emily    9.0         2      no
5     Michael   20.0         3     yes
6     Matthew   14.5         1     yes
7       Laura    NaN         1      no
8       Kevin    8.0         2      no
9       Jonas   19.0         1     yes
10     Suresh   15.5         1     yes

C:\Users\mehdi\AppData\Local\Temp\ipykernel_2032\3417982809.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(f"our dataframe with new student:: \n\n {ds.append(new_student,ignore_index=True)} \n")

In [16]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ds = pd.DataFrame(exam_data, index=labels)
print(ds.drop(columns='attempts'))

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [13]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ds = pd.DataFrame(exam_data, index=labels)
df= ds.dropna()
new_student= {'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
df =df.append(new_student,ignore_index=True)
success=[]

for i in range(df.shape[0]):
    if df.iloc[i,1]>= 10:
        success.append(1)
    else:
        success.append(0)
df['success'] = success
print(df)

        name  score  attempts qualify  success
0  Anastasia   12.5         1     yes        1
1       Dima    9.0         3      no        0
2  Katherine   16.5         2     yes        1
3      Emily    9.0         2      no        0
4    Michael   20.0         3     yes        1
5    Matthew   14.5         1     yes        1
6      Kevin    8.0         2      no        0
7      Jonas   19.0         1     yes        1
8     Suresh   15.5         1     yes        1

C:\Users\mehdi\AppData\Local\Temp\ipykernel_4756\2841490937.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df =df.append(new_student,ignore_index=True)

In [14]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ds = pd.DataFrame(exam_data, index=labels)
df= ds.dropna()
new_student= {'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
df =df.append(new_student,ignore_index=True)
success=[]

for i in range(df.shape[0]):
    if df.iloc[i,1]>= 10:
        success.append(1)
    else:
        success.append(0)
df['success'] = success
df.to_csv('Students.csv', index=False)

C:\Users\mehdi\AppData\Local\Temp\ipykernel_4756\3263651466.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df =df.append(new_student,ignore_index=True)